* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}



.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2em;
    position: fixed;
    z-index: 99;
    background-color: white;
    width: 100%;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.nav__p {
    padding-left: 2em;
    font-weight: bold;
    font-family: 'Sono', sans-serif;
    color: black;

}

.nav__color {
    color: hotpink;
}

.nav__p--inicio {
    font-weight: bold;
    font-family: 'Sono', sans-serif;
    color: black;
}

.section1 {
    position: relative;
    z-index: 1;
    padding-top: 18em;
    background-color: rgb(253, 255, 173);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10em;
   
   
   
}

.section1__img--1 {
    width: 5em;
    padding-bottom: 3em;
}
.section1__img--2 {
    width: 5em;
    padding-bottom: 4em;
}

.section1__p {
    text-align: center;
    font-size: 2.5em;
}

.section1__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3em;
}

.section2__form {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    margin-left: 3.5em; 
    font-size: 2em;  
}


form input[type="text"],
form input[type="email"] {
    border: 1px solid hotpink;
    border-radius: 3px;
    width: 25em;
    height: 3em;
    
}

.form__nombre, .form__email, .form__textarea {
    margin-top: 1em;
    margin-bottom: 2em;
}

.form__button {
    width: 5em;
    font-size: 1em;
    background-color: white;
    border: 1px solid hotpink;
    cursor: pointer;
}

.form__button:hover {
    background-color: hotpink;
}

textarea {
    border: 1px solid hotpink;
    border-radius: 3px;
    width: 25em;
    height: 15em;
}

.form__nombre {
    border: 2px;
    border-color: black;
}

.footer {
    margin-top: 10em;
    background-color: white;
}

.footer__div--flex {
    display: flex;
    padding-top: 5em;
}

.footer__div--icons {
    display: flex;
    flex-direction: column;
    padding-bottom: 4em;
}

.footer__img {
    width: 2em;
    margin-right: 3em
}

.footer__img--top {
    padding-top: 2em;
}

.footer__div {
    padding-left: 3em;
}

.footer__h2 {
    font-size: 2em;
    max-width: 70%;


}

.footer__made {
    margin-top: 2em;
    font-size: 1em;
    color: hotpink;
    font-weight: bold;
    font-family: 'Sono', sans-serif;

}

.hr {
    border: none;
    height: 0.10em;
    background: hotpink;
}

a:link, a:visited, a:focus, a:hover, a:active {
    color: black;
}




@media all and (min-width: 768px) {
    .section1 {
        padding-bottom: 7em;
    }

    form input[type="text"],
    form input[type="email"] {
        width: 30em;
    }
    textarea {
        width: 30em;
      
    }

    .footer__div {
        padding-left: 8em;

    }

    .footer__img {
        width: 3.5em;
    }

    .footer__h2 {
        font-size: 2.5em;
    }

    .footer__made {
        margin-top: 2em;
        font-size: 1.5em;


    }
}


@media all and (min-width: 1024px) { 
    .nav {
        flex-direction: column;
        width: 5em;
        padding-bottom: 30em;
        border-right: 2px solid hotpink;
        font-size: 2.75em;

    }

    .nav__p {
        padding-left: 0;
        padding-top: 1em;
        font-size: 0.75em;
        margin-left: 1em;
    }

    .nav__p--inicio {
        font-size: 0.75em;
        margin-left: 1em;
    }

    .section1 {
        padding-top: 15em;
        padding-bottom: 12em;
    }

    .section1__div{
        margin-left: 12em;
    }

    .section2__form {
        padding-top: 5em;
        margin-left: 20em;
        
    }

    .footer {
        position: relative;
        z-index: 99;
    }

    .footer__div--flex {
        justify-content: space-around;
    }

    .footer__h2 {
        font-size: 3em;
    }

    .footer__made {
        margin-top: 2em;
        font-size: 2em;


    }

    .footer__div {
        padding-left: 6em;

    }

    .footer__img {
        width: 4em;
    }

}