* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    font-size: 3em;
    justify-content: center;
    padding-top: 2em;
    position: fixed;
    background-color: white;
    opacity: 0.2;
    width: 100%;
    padding-bottom: 1em;
}

.nav__p {
    padding-left: 2em;
    font-weight: bold;
    
}

.nav__p--inicio {
    font-weight: bold;
}




.section1 {
    padding-top: 10em;
    padding-left: 10em;
}

.section1__h1{
    font-size: 5em;
    width: 10em;
    
}

.section1__h1--pink {
    font-style: normal;
    color: hotpink;
}

.section2 {
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4em;
    padding-right: 4em;
}

.section2__div--1 {
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
}

.section2__h2 {
    padding-top: 10em;
}

.section2__div--icons {
    display: grid;
    grid-template-columns: 10em 10em 10em 10em;
    grid-gap: 2em;
    padding-top: 8em;
    width: 40em;
    padding-bottom: 3em;
    
}


.section2__icon {
   width: 6em;
}

.section2__div--skills {
    text-align: center;
    max-width: 95%;
    padding-top: 6em;
}

.section3__img1 {
    padding-top: 5em;
    max-width: 100%;
}
.section3__img2 {
    padding-top: 5em;
    max-width: 100%;
}

.footer {
    padding-top: 10em;
    padding-left: 6em;
    max-width: 90%;
}

.footer__div--flex {
    display: flex;

}

.footer__div--icons {
    display: flex;
    flex-direction: column;
    padding-right: 2em;
}

.footer__img {
    padding-top: 2.5em;

}

.footer__h2 {
    font-size: 4em;
    
    
}

.hr {
border: none;
    height: 12px;
    background: black;
}